.top-container1-top-container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("/webp/willy-1500w.webp");
  background-position: top left;
}
.top-container1-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: auto;
  margin-top: var(--dl-space-space-quadruple);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.top-container1-content-container {
  gap: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.top-container1-text {
  color: var(--dl-color-gray-white);
  max-width: 990px;
  text-align: center;
}
.top-container1-subheading {
  color: var(--dl-color-gray-white);
  font-size: 1.6rem;
  max-width: 990px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.top-container1-container {
  gap: var(--dl-space-space-quadruple);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 991px) {
  .top-container1-hero {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .top-container1-hero {
    justify-content: center;
  }
  .top-container1-content-container {
    align-items: center;
  }
  .top-container1-text {
    font-size: 2.5rem;
  }
  .top-container1-container {
    padding-left: var(--dl-space-space-unit);
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .top-container1-top-container {
    width: 100%;
    background-position: top left;
  }
  .top-container1-hero {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .top-container1-text {
    font-size: 2rem;
    text-align: center;
  }
  .top-container1-subheading {
    font-size: 1.25rem;
  }
  .top-container1-container {
    padding-left: 0px;
    flex-direction: column;
  }
}
