.aws-getit-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.aws-getit-top-container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.aws-getit-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: auto;
  margin-top: var(--dl-space-space-quadruple);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.aws-getit-content-container {
  gap: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aws-getit-text {
  color: var(--dl-color-gray-black);
  max-width: 990px;
  text-align: center;
}
.aws-getit-subheading {
  color: var(--dl-color-gray-black);
  font-size: 1.6rem;
  max-width: 990px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.aws-getit-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.aws-getit-mosaic-component {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff4e3;
}
.aws-getit-container02 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/webp/ninia-1500w.webp");
  background-repeat: no-repeat;
  background-position: left;
}
.aws-getit-container03 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 50%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.aws-getit-image {
  float: left;
  width: 200px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.aws-getit-text01 {
  color: var(--dl-color-gray-black);
  font-family: Poppins;
  line-height: 1.55;
}
.aws-getit-text21 {
  color: #2175bf;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}
.aws-getit-container05 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.aws-getit-link {
  display: contents;
}
.aws-getit-component1 {
  text-decoration: none;
}
.aws-getit-image1 {
  top: 10px;
  right: -28px;
  width: 35px;
  height: 35px;
  position: absolute;
  object-fit: cover;
}
.aws-getit-mosaic-component1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff4e3;
}
.aws-getit-container06 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 50%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.aws-getit-container07 {
  gap: var(--dl-space-space-halfunit);
  flex: 0;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.aws-getit-text31 {
  font-size: 1em;
  font-family: Poppins;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.aws-getit-container08 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.aws-getit-link1 {
  display: contents;
}
.aws-getit-component2 {
  text-decoration: none;
}
.aws-getit-container09 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/webp/concierto-1500h.webp");
  background-repeat: no-repeat;
  background-position: center;
}
@media(max-width: 991px) {
  .aws-getit-hero {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .aws-getit-subheading {
    color: var(--dl-color-gray-black);
    font-size: 1.6rem;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
  }
  .aws-getit-container01 {
    gap: var(--dl-space-space-unit);
  }
  .aws-getit-mosaic-component {
    flex-direction: column;
  }
  .aws-getit-container02 {
    top: 0px;
    left: 0px;
    height: 10em;
    margin: auto;
    position: absolute;
    background-size: cover;
    background-image: url("/webp/ninia-1500w.webp");
    background-position: center;
  }
  .aws-getit-container03 {
    max-width: 100%;
    margin-top: 10em;
  }
  .aws-getit-mosaic-component1 {
    flex-direction: column;
  }
  .aws-getit-container06 {
    width: 100%;
    max-width: 100%;
    margin-top: 10em;
  }
  .aws-getit-container09 {
    top: 0px;
    left: 0px;
    height: 10em;
    margin: auto;
    position: absolute;
    background-size: cover;
    background-image: url("/webp/concierto-1500h.webp");
    background-position: center;
  }
}
@media(max-width: 767px) {
  .aws-getit-hero {
    justify-content: center;
  }
  .aws-getit-content-container {
    align-items: center;
  }
  .aws-getit-text {
    font-size: 2.5rem;
  }
  .aws-getit-subheading {
    font-size: 1.25rem;
  }
  .aws-getit-container01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .aws-getit-container02 {
    background-size: cover;
    background-image: url("/webp/ninia-1500w.webp");
    background-position: center;
  }
  .aws-getit-container03 {
    width: 100%;
    max-width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .aws-getit-container06 {
    width: 100%;
    max-width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .aws-getit-container07 {
    min-width: 400px;
  }
}
@media(max-width: 479px) {
  .aws-getit-hero {
    padding: var(--dl-space-space-unit);
  }
  .aws-getit-text {
    font-size: 2rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
  }
  .aws-getit-container07 {
    min-width: auto;
  }
  .aws-getit-container09 {
    background-position: top;
  }
}
