.contactanos-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contactanos-top-container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contactanos-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: auto;
  margin-top: var(--dl-space-space-quadruple);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.contactanos-content-container {
  gap: var(--dl-space-space-doubleunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contactanos-text {
  color: var(--dl-color-gray-black);
  max-width: 990px;
  text-align: center;
}
.contactanos-mosaic-component {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #698693;
}
.contactanos-form {
  width: 50%;
  height: auto;
  display: flex;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.contactanos-container01 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contactanos-container02 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contactanos-text1 {
  color: var(--dl-color-gray-white);
}
.contactanos-textinput2 {
  width: 100%;
}
.contactanos-container03 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contactanos-text2 {
  color: var(--dl-color-gray-white);
}
.contactanos-textinput3 {
  width: 100%;
}
.contactanos-container04 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contactanos-text3 {
  color: var(--dl-color-gray-white);
}
.contactanos-textinput4 {
  width: 100%;
}
.contactanos-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contactanos-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contactanos-text6 {
  color: var(--dl-color-gray-white);
}
.contactanos-textarea {
  width: 100%;
  height: 100px;
}
.contactanos-container07 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contactanos-checkbox {
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
}
.contactanos-text7 {
  color: var(--dl-color-gray-white);
}
.contactanos-navlink {
  text-decoration: underline;
}
.contactanos-container08 {
  display: flex;
  position: relative;
}
.contactanos-button {
  color: var(--dl-color-gray-white);
  border: none;
  font-size: larger;
  min-width: 250px;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-primary-500);
}
.contactanos-container09 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/webp/bitmanysupaman-1500h.webp");
  background-position: right;
}
@media(max-width: 991px) {
  .contactanos-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .contactanos-mosaic-component {
    flex-direction: column;
  }
  .contactanos-form {
    width: 100%;
    margin-top: 10em;
  }
  .contactanos-container09 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10em;
    margin: auto;
    position: absolute;
    background-size: cover;
    background-image: url("/webp/bitmanysupaman-1500h.webp");
    background-position: center;
  }
}
@media(max-width: 767px) {
  .contactanos-hero {
    justify-content: center;
  }
  .contactanos-content-container {
    align-items: center;
  }
  .contactanos-text {
    font-size: 2.5rem;
  }
  .contactanos-form {
    width: 100%;
  }
  .contactanos-textinput3 {
    width: 100%;
  }
  .contactanos-textinput4 {
    width: 100%;
  }
  .contactanos-textarea {
    width: 100%;
    height: 0px;
    min-height: 100px;
  }
}
@media(max-width: 479px) {
  .contactanos-hero {
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: row;
  }
  .contactanos-text {
    font-size: 2rem;
    text-align: center;
    padding-top: var(--dl-space-space-halfunit);
  }
  .contactanos-textinput {
    width: 100%;
  }
  .contactanos-textinput1 {
    width: 100%;
  }
  .contactanos-textinput2 {
    width: 100%;
  }
  .contactanos-textarea {
    width: 100%;
  }
  .contactanos-button {
    text-align: center;
  }
}
