.politica-privacidad-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.politica-privacidad-image {
  top: 0px;
  right: 0px;
  width: 40%;
  height: auto;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}
.politica-privacidad-top-container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
.politica-privacidad-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: auto;
  margin-top: var(--dl-space-space-quadruple);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.politica-privacidad-content-container {
  gap: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.politica-privacidad-text {
  color: var(--dl-color-gray-black);
  max-width: 990px;
  text-align: center;
}
.politica-privacidad-container1 {
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  padding-left: var(--dl-space-space-quadruple);
  padding-right: var(--dl-space-space-quadruple);
  flex-direction: column;
  justify-content: center;
}
.politica-privacidad-text02 {
  color: var(--dl-color-primary-5001);
  font-style: normal;
  font-weight: 700;
}
.politica-privacidad-text13 {
  color: var(--dl-color-primary-5001);
  font-style: normal;
  font-weight: 700;
}
.politica-privacidad-text18 {
  color: var(--dl-color-primary-5001);
  font-style: normal;
  font-weight: 700;
}
.politica-privacidad-text25 {
  color: var(--dl-color-primary-5001);
  font-style: normal;
  font-weight: 700;
}
.politica-privacidad-text37 {
  color: var(--dl-color-primary-5001);
  font-style: normal;
  font-weight: 700;
}
.politica-privacidad-text50 {
  color: var(--dl-color-primary-5001);
  font-style: normal;
  font-weight: 700;
}
.politica-privacidad-text59 {
  color: var(--dl-color-primary-5001);
  font-weight: 700;
}
.politica-privacidad-text64 {
  color: var(--dl-color-primary-5001);
  font-style: normal;
  font-weight: 700;
}
.politica-privacidad-text69 {
  color: var(--dl-color-primary-5001);
  font-style: normal;
  font-weight: 700;
}
.politica-privacidad-text78 {
  color: var(--dl-color-primary-5001);
  font-style: normal;
  font-weight: 700;
}
.politica-privacidad-text83 {
  color: var(--dl-color-primary-5001);
  font-style: normal;
  font-weight: 700;
}
.politica-privacidad-link {
  text-decoration: underline;
}
.politica-privacidad-link1 {
  text-decoration: underline;
}
.politica-privacidad-container2 {
  width: 100%;
  display: flex;
  z-index: 1;
  flex-direction: column;
}
@media(max-width: 991px) {
  .politica-privacidad-hero {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .politica-privacidad-container1 {
    gap: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .politica-privacidad-hero {
    justify-content: center;
  }
  .politica-privacidad-content-container {
    align-items: center;
  }
  .politica-privacidad-text {
    font-size: 2.5rem;
  }
  .politica-privacidad-container1 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 479px) {
  .politica-privacidad-hero {
    padding: var(--dl-space-space-unit);
  }
  .politica-privacidad-text {
    font-size: 2rem;
    text-align: center;
    padding-top: var(--dl-space-space-halfunit);
  }
  .politica-privacidad-text01 {
    width: 100%;
  }
  .politica-privacidad-text02 {
    color: var(--dl-color-primary-5001);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .politica-privacidad-text03 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text04 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text05 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text06 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text07 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text08 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text09 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text10 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text11 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text12 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text13 {
    color: var(--dl-color-primary-5001);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .politica-privacidad-text14 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text15 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text16 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text17 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text18 {
    color: var(--dl-color-primary-5001);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .politica-privacidad-text19 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text20 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text21 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text22 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text23 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text24 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text25 {
    color: var(--dl-color-primary-5001);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .politica-privacidad-text26 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text27 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text28 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text29 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text30 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text31 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text32 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text33 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text34 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text35 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text36 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text37 {
    color: var(--dl-color-primary-5001);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .politica-privacidad-text38 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text39 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text40 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text41 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text42 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text43 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text44 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text45 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text46 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text47 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text48 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text49 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text50 {
    color: var(--dl-color-primary-5001);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .politica-privacidad-text51 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text52 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text53 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text54 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text55 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text56 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text57 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text58 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text59 {
    color: var(--dl-color-primary-5001);
    font-weight: 700;
    text-decoration: none;
  }
  .politica-privacidad-text60 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text61 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text62 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text63 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text64 {
    color: var(--dl-color-primary-5001);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .politica-privacidad-text65 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text66 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text67 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text68 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text69 {
    color: var(--dl-color-primary-5001);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .politica-privacidad-text70 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text71 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text72 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text73 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text74 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text75 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text76 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text77 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text78 {
    color: var(--dl-color-primary-5001);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .politica-privacidad-text79 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text80 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text81 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text82 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text83 {
    color: var(--dl-color-primary-5001);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .politica-privacidad-text84 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text85 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text86 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text87 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text88 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text89 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text90 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text91 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-link {
    font-weight: 400;
    text-decoration: underline;
  }
  .politica-privacidad-text92 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text93 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text94 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-link1 {
    font-weight: 400;
    text-decoration: underline;
  }
  .politica-privacidad-text95 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text96 {
    font-weight: 400;
    text-decoration: none;
  }
  .politica-privacidad-text97 {
    font-weight: 400;
    text-decoration: none;
  }
}
