.consultoria-esg-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.consultoria-esg-container1 {
  gap: var(--dl-space-space-doubleunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.consultoria-esg-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  min-height: 240px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("/webp/chicaamarillo-1500w.webp");
  background-position: center;
}
.consultoria-esg-image {
  width: 300px;
  object-fit: cover;
}
.consultoria-esg-container3 {
  gap: var(--dl-space-space-unit);
  width: 500px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #1c2b30;
}
.consultoria-esg-text {
  color: var(--dl-color-gray-white);
}
.consultoria-esg-text3 {
  color: var(--dl-color-gray-white);
}
.consultoria-esg-container4 {
  width: 280px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  min-width: auto;
  align-self: stretch;
  min-height: auto;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("/webp/kike-300w.webp");
  background-position: center;
}
@media(max-width: 767px) {
  .consultoria-esg-container1 {
    flex-direction: column;
  }
  .consultoria-esg-container2 {
    align-items: center;
    background-position: bottom;
  }
  .consultoria-esg-container3 {
    width: auto;
    flex-wrap: wrap;
  }
  .consultoria-esg-text {
    font-style: normal;
    font-weight: 700;
  }
  .consultoria-esg-container4 {
    width: auto;
    height: 200px;
    min-width: auto;
    min-height: auto;
  }
}
@media(max-width: 479px) {
  .consultoria-esg-container1 {
    width: 100%;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .consultoria-esg-image {
    width: 280px;
  }
}
