.teoria-cambio-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.teoria-cambio-top-container {
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teoria-cambio-hero {
  flex: 0;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-quadruple);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.teoria-cambio-content-container {
  gap: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teoria-cambio-text {
  color: var(--dl-color-gray-black);
  max-width: 990px;
  text-align: center;
}
.teoria-cambio-text01 {
  font-size: 1.6rem;
  max-width: 990px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.teoria-cambio-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.teoria-cambio-mosaic-component {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1500px;
  align-self: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #3a7d91;
}
.teoria-cambio-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/webp/hombrecielo-1500h.webp");
  background-position: bottom;
}
.teoria-cambio-container3 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 50%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teoria-cambio-text02 {
  color: rgb(255, 255, 255);
}
.teoria-cambio-text07 {
  color: rgb(255, 255, 255);
}
.teoria-cambio-ul {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  list-style-type: decimal;
  list-style-position: outside;
}
.teoria-cambio-li {
  color: var(--dl-color-gray-white);
}
.teoria-cambio-li1 {
  color: var(--dl-color-gray-white);
}
.teoria-cambio-li2 {
  color: var(--dl-color-gray-white);
}
.teoria-cambio-li3 {
  color: var(--dl-color-gray-white);
}
.teoria-cambio-li4 {
  color: var(--dl-color-gray-white);
}
.teoria-cambio-text21 {
  color: rgb(255, 255, 255);
}
.teoria-cambio-videos-container {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.teoria-cambio-container4 {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-quadruple);
  flex-direction: column;
}
.teoria-cambio-navlink {
  display: contents;
}
.teoria-cambio-component1 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .teoria-cambio-hero {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .teoria-cambio-container1 {
    gap: var(--dl-space-space-unit);
  }
  .teoria-cambio-mosaic-component {
    flex-direction: column;
  }
  .teoria-cambio-container2 {
    top: 0px;
    left: 0px;
    height: 10em;
    margin: auto;
    position: absolute;
    background-size: cover;
    background-image: url("/webp/hombrecielo-1500h.webp");
    background-position: bottom;
  }
  .teoria-cambio-container3 {
    max-width: 100%;
    margin-top: 10em;
  }
}
@media(max-width: 767px) {
  .teoria-cambio-hero {
    justify-content: center;
  }
  .teoria-cambio-content-container {
    align-items: center;
  }
  .teoria-cambio-text {
    font-size: 2.5rem;
  }
  .teoria-cambio-text01 {
    font-size: 1.25rem;
  }
  .teoria-cambio-container1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .teoria-cambio-container3 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    max-width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .teoria-cambio-text02 {
    color: rgb(255, 255, 255);
  }
  .teoria-cambio-text04 {
    font-size: 1rem;
    font-weight: 700;
  }
}
@media(max-width: 479px) {
  .teoria-cambio-hero {
    padding: var(--dl-space-space-unit);
  }
  .teoria-cambio-text {
    font-size: 2rem;
    text-align: center;
    padding-top: var(--dl-space-space-halfunit);
  }
}
