.desarrollo-proyectos-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desarrollo-proyectos-top-container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("/webp/playa.webp");
  background-repeat: repeat;
  background-position: top;
}
.desarrollo-proyectos-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: auto;
  margin-top: var(--dl-space-space-quadruple);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.desarrollo-proyectos-content-container {
  gap: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.desarrollo-proyectos-text {
  color: var(--dl-color-gray-white);
  max-width: 990px;
  text-align: center;
}
.desarrollo-proyectos-subheading {
  color: var(--dl-color-gray-white);
  font-size: 1.6rem;
  max-width: 990px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.desarrollo-proyectos-container01 {
  gap: var(--dl-space-space-quadruple);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.desarrollo-proyectos-container02 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
}
.desarrollo-proyectos-container03 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  background-size: cover;
  background-image: url("/webp/sillas-1500w.webp");
  background-position: top;
}
.desarrollo-proyectos-container04 {
  width: 350px;
  height: 255px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.desarrollo-proyectos-image {
  width: 100%;
  height: auto;
  max-width: 320px;
  object-fit: cover;
}
.desarrollo-proyectos-container05 {
  display: flex;
  position: relative;
}
.desarrollo-proyectos-button {
  color: var(--dl-color-gray-white);
  border: none;
  min-width: 250px;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-500);
}
.desarrollo-proyectos-container06 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  background-size: cover;
  background-image: url("/webp/manos-1500w.webp");
  background-position: bottom;
}
.desarrollo-proyectos-container07 {
  width: 350px;
  height: 255px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.desarrollo-proyectos-container08 {
  display: flex;
  position: relative;
}
.desarrollo-proyectos-button1 {
  color: var(--dl-color-gray-white);
  border: none;
  min-width: 250px;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-500);
}
.desarrollo-proyectos-container09 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  background-size: cover;
  background-image: url("/webp/maquinaescribircolores-1500w.webp");
  background-position: center;
}
.desarrollo-proyectos-container10 {
  width: 350px;
  height: 255px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.desarrollo-proyectos-container11 {
  display: flex;
  position: relative;
}
.desarrollo-proyectos-button2 {
  color: var(--dl-color-gray-white);
  border: none;
  min-width: 250px;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-500);
}
.desarrollo-proyectos-container12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  background-size: cover;
  background-image: url("/webp/hombrecielo-1500w.webp");
  background-position: top left;
}
.desarrollo-proyectos-container13 {
  width: 350px;
  height: 255px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.desarrollo-proyectos-container14 {
  display: flex;
  position: relative;
}
.desarrollo-proyectos-button3 {
  color: var(--dl-color-gray-white);
  border: none;
  min-width: 250px;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-500);
}
@media(max-width: 991px) {
  .desarrollo-proyectos-hero {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .desarrollo-proyectos-hero {
    justify-content: center;
  }
  .desarrollo-proyectos-content-container {
    align-items: center;
  }
  .desarrollo-proyectos-text {
    font-size: 2.5rem;
  }
  .desarrollo-proyectos-subheading {
    font-size: 1.25rem;
  }
  .desarrollo-proyectos-container01 {
    padding-left: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .desarrollo-proyectos-container02 {
    flex-direction: column;
  }
  .desarrollo-proyectos-container03 {
    width: 100%;
  }
  .desarrollo-proyectos-container04 {
    width: 100%;
    height: 200px;
  }
  .desarrollo-proyectos-image {
    width: 100%;
    max-width: 340px;
  }
  .desarrollo-proyectos-container06 {
    width: 100%;
  }
  .desarrollo-proyectos-container07 {
    width: 100%;
    height: 200px;
  }
  .desarrollo-proyectos-button1 {
    color: var(--dl-color-gray-white);
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 600;
    text-transform: none;
    text-decoration: none;
    background-color: var(--dl-color-primary-500);
  }
  .desarrollo-proyectos-container09 {
    width: 100%;
  }
  .desarrollo-proyectos-container10 {
    width: 100%;
    height: 200px;
  }
  .desarrollo-proyectos-container12 {
    width: 100%;
    background-position: bottom;
  }
  .desarrollo-proyectos-container13 {
    width: 100%;
    height: 200px;
  }
}
@media(max-width: 479px) {
  .desarrollo-proyectos-top-container {
    background-position: center;
  }
  .desarrollo-proyectos-hero {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .desarrollo-proyectos-text {
    font-size: 2rem;
    text-align: center;
    padding-top: var(--dl-space-space-halfunit);
  }
  .desarrollo-proyectos-subheading {
    color: var(--dl-color-gray-white);
    font-size: 1.25rem;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
  }
  .desarrollo-proyectos-container01 {
    padding-left: 0px;
    flex-direction: column;
  }
  .desarrollo-proyectos-button1 {
    color: var(--dl-color-gray-white);
    font-size: 1rem;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    text-transform: none;
    text-decoration: none;
    background-color: var(--dl-color-primary-500);
  }
  .desarrollo-proyectos-button2 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .desarrollo-proyectos-text4 {
    font-size: 1rem;
  }
  .desarrollo-proyectos-text5 {
    text-align: center;
  }
  .desarrollo-proyectos-button3 {
    color: var(--dl-color-gray-white);
    font-size: 1rem;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    text-transform: none;
    text-decoration: none;
    background-color: var(--dl-color-primary-500);
  }
}
